html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 20px;
    background-color: #123;
    color: snow;
}

img {
    max-width: 100%;
}

a {
    color: SteelBlue;
}

.btn-primary {
    background-color: royalblue;
    border-color: royalblue;
}

.btn-success {
    background-color: forestgreen;
}

.card {
    border: 1px solid dimgrey;
}

.card-header {
    background-color: slateblue;
}

.card-body {
    background-color: darkslateblue;
}

.modal-header {
    background-color: forestgreen;
    border-bottom: none;
}

.modal-body {
    background-color: darkslategrey;
}

.modal-body a {
    color: snow;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: royalblue;
}

.hide-if-noscript {
    display: none;
}

#navigation {
    margin-top: 20px;
}

#logo {
    margin-top: 1em;
    margin-bottom: 1em;
}

#mirror {
    display: none;
    background-color: indianred;
    text-align: center;
    padding: 2px;
}

#mirror p {
    vertical-align: middle;
}

#content {
    margin: auto auto;
    max-width: 800px;
}

section {
    margin-top: 20px;
    margin-bottom: 20px;
}

.module p {
    height: 60px;
}

.nav-pills > li {
    float: none;
}

.nav > li {
    display: inline-block;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img {
    margin: auto;
}
