body {
    background: linear-gradient(90deg, #75ede5 0%, #67dae7 51%, #75ede5 99%);
    color: #333333;
    text-align: center;
    width: 90%;
    max-width: 50em;
    margin: 0 auto;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
}

header {
    font-size: 3em;
}

@media only screen and (max-width: 770px) {
    header {
        height: 3em;
    }
}

@media only screen and (max-width: 460px) {
    header {
        height: 4.5em;
    }
}

a {
    color: #ff7433;
    text-decoration: none;
}

#ribbon {
    position: absolute;
    top: 0;
    right: 0;
}

.button {
    background-color: #ff7433;
    border-radius: 0.5em;
    padding: 1em 1em;
    display: inline-block;
    margin: 1em 1em;
    color: white;
}
